{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Dashboard</h1>
                <p class="lead text-muted">Willkommen bei der Friedländer Unterkunfts- und Unterstützungsverwaltung.</p>
                <p class="lead text-muted">Je nach Berechtigungs sind einige Menüpunkte für dich gesperrt.</p>
                <p class="lead text-muted">Aktuell hast du folgende Berechtigungen:</p>
                <p>
                    {% for role in app.user.roles %}
                        <span class="badge bg-warning">{{ roleLabel[role] is defined ? roleLabel[role] : role }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ activeSupporter }} aktive Unterstützer</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ newSupporter }} neu registrierte Unterstützer</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ freeHousings }} freie Unterkünfte</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ partialOccupiedHousings }} teilweise belegt Unterkünfte</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ occupiedHousings }} belegte Unterkünfte</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="card-text">{{ readyForOccupationHousings }} bezugsbereite Unterkünfte</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
