{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">Übersicht der Einrichtungsgegenstände
                    <a href="{{ path('app_furniture_new') }}" class="btn btn-primary btn-lg btn-icon rounded-circle {% if not is_granted('ROLE_ADMIN_FURNITURE') %}disabled{% endif %}">
                        <i class="bi bi-plus"></i>
                    </a>
                </h1>
            </div>
        </div>
        {% if furnitures is empty %}
            {% include 'partials/no-data.html.twig' %}
        {% endif %}
    </section>
    <div class="album py-5">
        <div class="container table-responsive">
            {% if furnitures is not empty %}
                <table id="housing-table" class="table table-striped datatable" style="width:100%">
                    <thead>
                    <tr>
                        {% if is_granted('ROLE_ADMIN_FURNITURE') %}
                            <td>Aktionen</td>
                        {% endif %}
                        <th>Einrichtungsgegenstand</th>
                        <th>Typ</th>
                        <th>benötigt</th>
                        <th>erstellt</th>
                        <th>aktualisiert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currentFurniture in furnitures %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN_FURNITURE') %}
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="{{ path('app_furniture_edit', {'id': currentFurniture.id}) }}" type="button" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        <a href="{{ path('app_furniture_remove', {'id': currentFurniture.id}) }}" type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            {% endif %}
                            <td>{{ currentFurniture.title }}</td>
                            <td>
                                <span class="badge bg-{{ currentFurniture.type }}">
                                    {{ furnitureTypeLabels[currentFurniture.type] is defined ? furnitureTypeLabels[currentFurniture.type] : currentFurniture.type }}
                                </span>
                            </td>
                            <td>{{ currentFurniture.missingAmount }}</td>
                            <td>{{ currentFurniture.created | date('d.m.Y H:i') }}</td>
                            <td>{{ currentFurniture.updated | date('d.m.Y H:i') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
