{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}</h1>
            </div>
        </div>
    </section>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#housing-general" href="#">Allgemeine
                Informationen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#housing-furniture-help" href="#">Einrichtungsgegenstände
                und Hilfe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#housing-comments" href="#">Kommentare
                ({{ housing.comments|length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#housing-files" href="#">Bilder
                ({{ housing.files|length }})</a>
        </li>

    </ul>
    {{ form_start(form) }}
    <div class="tab-content mb-3" id="housing-content">
        <div class="tab-pane fade show active" id="housing-general" role="tabpanel">
            <div class="mb-3">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.owner) }}
                {{ form_widget(form.owner) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.status) }}
                {{ form_widget(form.status) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.maintainer) }}
                {{ form_widget(form.maintainer) }}
            </div>
        </div>
        <div class="tab-pane fade" id="housing-furniture-help" role="tabpanel">
            <div class="mb-3">
                {{ form_widget(form.missingFurnitures) }}
            </div>
            <div class="mb-3">
                {{ form_widget(form.missingServices) }}
            </div>
        </div>
        <div class="tab-pane fade" id="housing-comments" role="tabpanel">
            {% if housing.comments is empty %}
                <div class="text-center">
                    {% include 'partials/no-data.html.twig' %}
                </div>
            {% else %}
                {% for comment in housing.comments|sort((a, b) => b.created <=> a.created) %}
                    <h4>{{ comment.title }}</h4>
                    <p>{{ comment.text }}</p>
                    <small>erstellt: {{ comment.createdBy }}
                        ({{ comment.created ? comment.created | date('d.m.Y H:i') : '-' }})</small>
                    {% if not loop.last %}
                        <hr>{% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="housing-files" role="tabpanel">
            {% if housing.files is empty %}
            <div class="text-center">
                {% include 'partials/no-data.html.twig' %}
            </div>
            {% else %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for file in housing.files|sort((a, b) => b.created <=> a.created) %}
                    <div class="col">

                        <div class="card shadow-sm">
                            <div class="card-header">{{ file.title }}</div>
                            <div class="card-body">
                                <a href="{{ asset('uploads/' ~ file.filename) }}" target="_blank"><img
                                        src="{{ asset('uploads/' ~ file.filename) }}" alt="{{ file.filename }}"
                                        style="max-width: 100%;"/></a>
                            </div>
                            <div class="card-footer">
                                <small>erstellt: {{ file.createdBy }}
                                    ({{ file.created ? file.created | date('d.m.Y H:i') : '-' }})</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="btn-group">
        {{ form_row(form.save) }}
        <div class="mb-3 ms-3">
            <a type="button" id="housing_comment" href="{{ path('app_housing_comment', {'id': housing.id}) }}"
               class="btn-outline-secondary btn">Kommentar hinzufügen</a>
        </div>
        <div class="mb-3 ms-3">
            <a type="button" id="housing_comment" href="{{ path('app_housing_file', {'id': housing.id}) }}"
               class="btn-outline-secondary btn">Bild hinzufügen</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
