{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}
                    <a href="{{ path('app_housing_new') }}" class="btn btn-primary btn-lg btn-icon rounded-circle {% if not is_granted('ROLE_ADMIN_HOUSING') %}disabled{% endif %}">
                        <i class="bi bi-plus"></i>
                    </a>
                </h1>
            </div>
        </div>
        {% if housing is empty %}
            {% include 'partials/no-data.html.twig' %}
        {% endif %}
    </section>
    <div class="album py-5">
        <div class="container table-responsive">
            {% if housing is not empty %}
                <table id="housing-table" class="table table-striped datatable" style="width:100%">
                    <thead>
                    <tr>
                        <th>Aktionen</th>
                        <th>Titel</th>
                        <th>Beschreibung</th>
                        <th>Status</th>
                        <th>fehlende Einrichtung</th>
                        <th>fehlende Hilfe</th>
                        <th>aktualisiert</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for currentHousing in housing %}
                        <tr>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('app_housing_edit', {'id': currentHousing.id}) }}" type="button" class="btn btn-sm btn-warning {% if not is_granted('ROLE_ADMIN_HOUSING') %}disabled{% endif %}"><i class="bi bi-pencil-square"></i></a>
                                    {% include 'partials/delete-button.html.twig' with {'path': path('app_housing_remove', {'id': currentHousing.id}) } %}
                                </div>
                            </td>
                            <td>{{ currentHousing.title }}</td>
                            <td>{{ currentHousing.description }}</td>
                            <td>
                            <span class="badge {{ currentHousing.status | housingStatusColor }}">{{ currentHousing.status | housingStatusLabel }}</span>
                            </td>
                            <td>
                                {% if currentHousing.missingFurnitures is not empty %}
                                    {% for furniture in currentHousing.missingFurnitures|sort((a, b) => a.title <=> b.title) %}
                                        <span class="badge {{ furniture.type | furnitureTypeColor }}">{{ furniture.title }}</span>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {% if currentHousing.missingServices is not empty %}
                                    {% for service in currentHousing.missingServices|sort((a, b) => a.title <=> b.title) %}
                                        <span class="badge bg-warning">{{ service.title }}</span><br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ currentHousing.updated ? currentHousing.updated | date('d.m.Y H:i') : '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
