{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}</h1>
            </div>
        </div>
        {% if housing is empty %}
            {% include 'partials/no-data.html.twig' %}
        {% endif %}
    </section>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for currentHousing in housing|sort((a, b) => a.title <=> b.title) %}
                    {% if currentHousing.status >= 0 %}
                        <div class="col">

                                <div
                                    class="card shadow-sm">
                                    <div class="card-body">
                                        <h3 class="card-text">{{ currentHousing.title }}
                                            <span class="badge {{ currentHousing.status | housingStatusColor }}">{{ currentHousing.status | housingStatusLabel }}</span>
                                        </h3>
                                        <p class="card-text">{{ currentHousing.description }}</p>
                                        {% if currentHousing.missingFurnitures is not empty %}<h5>benötigte
                                            Einrichtungsgegenstände:</h5>
                                            <h6>{% for furniture in currentHousing.missingFurnitures|sort((a, b) => a.title <=> b.title) %}
                                                    <span class="badge {{ furniture.type | furnitureTypeColor }}">{{ furniture.title }}</span>
                                            {% endfor %}</h6>
                                        {% endif %}
                                        {% if currentHousing.missingServices is not empty %}<h5>fehlende
                                            Dienstleistungen:</h5>
                                            <h6>{% for service in currentHousing.missingServices|sort((a, b) => a.title <=> b.title) %}
                                                    <span
                                                        class="badge bg-warning">{{ service.title }}</span>
                                                {% endfor %}</h6>
                                        {% endif %}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{{ path('app_housing_supporter_edit', { 'id': currentHousing.id }) }}"
                                                   type="button"
                                                   class="btn btn-sm btn-outline-secondary">Bearbeiten</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
