{% extends 'base-public.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Was wird benötigt?</h1>
                <p class="lead text-muted">Hier sehen sie alle Einrichtungsgegenstände und Dienstleistungen die für die
                    Unterkünfte noch benötigt werden.</p>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            {% for key, furnitureGroup in furnitureGroups %}
                <h3>{{key}}</h3>
                <h5 class="mb-3">
                    {% for currentFurniture in furnitureGroup |sort((a, b) => a.title <=> b.title) %}
                        <span
                            class="badge bg-{{ currentFurniture.type }}">{{ currentFurniture.title }} (<span
                                title="noch für {{ currentFurniture.missingAmount }} Unterkünfte benötigt">{{ currentFurniture.missingAmount }}</span>)</span>
                    {% endfor %}
                </h5>
            {% endfor %}
            <h3>Hilfe</h3>
            {% if services is empty %}
                <h5>momentan nichts benötigt</h5>
            {% endif %}
            <h5>
                {% for currentService in services |sort((a, b) => a.title <=> b.title) %}
                    {% if currentService.missingAmount > 0 %}
                        <span
                            class="badge bg-warning">{{ currentService.title }} (<span
                                title="noch in {{ currentService.missingAmount }} benötigt">{{ currentService.missingAmount }}</span>)</span>
                    {% endif %}
                {% endfor %}
            </h5>
        </div>
    </div>
{% endblock %}
