{% extends 'base-admin.html.twig' %}

{% block title %}Nutzer anlegen{% endblock %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">Nutzer anlegen</h1>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-1 mb-4 p-4 border">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.roles) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}

                    <button type="submit" class="btn btn-primary">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
