{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}
                    <a href="{{ path('app_supporter_new') }}" class="btn btn-primary btn-lg btn-icon rounded-circle {% if not is_granted('ROLE_ADMIN_SUPPORTER') %}disabled{% endif %}">
                        <i class="bi bi-plus"></i>
                    </a>
                </h1>
            </div>
        </div>
        {% if supporter is empty %}
            {% include 'partials/no-data.html.twig' %}
        {% endif %}
    </section>
    <div class="album py-5">
        <div class="container table-responsive">
            {% if supporter is not empty %}
                <table id="housing-table" class="table table-striped datatable" style="width:100%">
                    <thead>
                    <tr>
                        <th>Aktionen</th>
                        <th>Name</th>
                        <th>Kontakt</th>
                        <th>Informationen</th>
                        <th>Hilfsangebot</th>
                        <th>aktualisiert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currentSupporter in supporter %}
                        <tr>

                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('app_supporter_edit', {'id': currentSupporter.id}) }}" type="button" class="btn btn-sm btn-warning {% if not is_granted('ROLE_ADMIN_SUPPORTER') %}disabled{% endif %}"><i class="bi bi-pencil-square"></i></a>
                                    {% if currentSupporter.status != 1 %}
                                        {% include 'partials/post-button.html.twig' with {'path': path('app_supporter_activate', {'id': currentSupporter.id}), 'icon': 'bi bi-check2-circle', 'color': 'btn-success' } %}
                                    {% endif %}
                                    {% include 'partials/delete-button.html.twig' with {'path': path('app_supporter_remove', {'id': currentSupporter.id}) } %}
                                </div>
                            </td>
                            <td>{{ currentSupporter.name }}</td>
                            <td>{{ currentSupporter.contact }}</td>
                            <td>{{ currentSupporter.information }}</td>
                            <td>
                                {% for service in currentSupporter.availableServices|sort((a, b) => a.title <=> b.title) %}
                                    <span class="badge bg-warning">{{ service.title }}</span>
                                {% endfor %}</td>
                            <td data-order="{{ currentSupporter.updated ? currentSupporter.updated | date('U') : 0 }}">{{ currentSupporter.updated ? currentSupporter.updated | date('d.m.Y H:i') : '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
