{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Übersicht der Helfer</h1>
                <p class="lead text-muted">Diese Seite dient nur der Übersicht und Verwaltung von Helfern. Unten sind die vorhandene Helfer aufgelistet. Neue/Unbestätigte Helfer sind Helfer, die sich über den öffentlichen Bereich registriert haben.</p>
                <div class="btn-group">
                    <a href="{{ path('app_supporter_new') }}" class="btn btn-outline-secondary">neuen Helfer erstellen</a>
                </div>
            </div>
        </div>
    </section>
    <div class="album py-5">
        <div class="container">
            <h4>bestätigte Helfer</h4>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
                {% for currentSupporter in activeSupporter %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h3 class="card-text">{{ currentSupporter.name }}</h3>
                                <p class="card-text">{{ currentSupporter.information }}</p>
                                <p class="card-text">{{ currentSupporter.contact }}</p>
                                <h6>{% for service in currentSupporter.availableServices|sort((a, b) => a.title <=> b.title) %}
                                        <span
                                            class="badge bg-warning">{{ service.title }}</span>
                                    {% endfor %}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('app_supporter_edit', { 'id': currentSupporter.id }) }}"
                                           type="button" class="btn btn-sm btn-outline-secondary">Bearbeiten</a>
                                        <a href="{{ path('app_supporter_remove', { 'id': currentSupporter.id }) }}"
                                           type="button" class="btn btn-sm btn-outline-secondary">Entfernen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h4>neue/unbestätigte Helfer</h4>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for currentSupporter in inactiveSupporter %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h3 class="card-text">{{ currentSupporter.name }}</h3>
                                <p class="card-text">{{ currentSupporter.information }}</p>
                                <p class="card-text">{{ currentSupporter.contact }}</p>
                                <h6>{% for service in currentSupporter.availableServices|sort((a, b) => a.title <=> b.title) %}
                                        <span
                                            class="badge bg-warning">{{ service.title }}</span>
                                    {% endfor %}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('app_supporter_activate', { 'id': currentSupporter.id }) }}"
                                           type="button" class="btn btn-sm btn-outline-secondary">Aktivieren</a>
                                        <a href="{{ path('app_supporter_remove', { 'id': currentSupporter.id }) }}"
                                           type="button" class="btn btn-sm btn-outline-secondary">Entfernen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
