{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}
                    <a href="{{ path('app_supporter_new') }}" class="btn btn-primary btn-lg btn-icon rounded-circle {% if not is_granted('ROLE_ADMIN_SUPPORTER') %}disabled{% endif %}">
                        <i class="bi bi-plus"></i>
                    </a>
                </h1>
            </div>
        </div>
        {% if supporter is empty %}
            {% include 'partials/no-data.html.twig' %}
        {% endif %}
    </section>
    <div class="album py-5">
        <div class="container">
            {% if supporter is not empty %}
                <table id="housing-table" class="table table-striped datatable" style="width:100%">
                    <thead>
                    <tr>
                        {% if is_granted('ROLE_ADMIN_SUPPORTER') %}
                        <th>Aktionen</th>
                        {% endif %}
                        <th>Name</th>
                        <th>Kontakt</th>
                        <th>Informationen</th>
                        <th>Hilfsangebot</th>
                        <th>erstellt</th>
                        <th>aktualisiert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currentSupporter in supporter %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN_SUPPORTER') %}
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="{{ path('app_supporter_edit', {'id': currentSupporter.id}) }}" type="button" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        {% if currentSupporter.status != 1 %}
                                            <a href="{{ path('app_supporter_activate', {'id': currentSupporter.id}) }}" type="button" class="btn btn-sm btn-danger"><i class="bi bi-check2-circle"></i></a>
                                        {% endif %}
                                        <a href="{{ path('app_supporter_remove', {'id': currentSupporter.id}) }}" type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            {% endif %}
                            <td>{{ currentSupporter.name }}</td>
                            <td>{{ currentSupporter.contact }}</td>
                            <td>{{ currentSupporter.information }}</td>
                            <td>
                                {% for service in currentSupporter.availableServices|sort((a, b) => a.title <=> b.title) %}
                                    <span class="badge bg-warning">{{ service.title }}</span>
                                {% endfor %}</td>
                            <td>{{ currentSupporter.created | date('d.m.Y H:m') }}</td>
                            <td>{{ currentSupporter.updated | date('d.m.Y H:m') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
