{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{ title }}</h1>
                <div class="btn-group">
                    <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">neuen User registrieren</a>
                </div>
            </div>
        </div>
    </section>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for currentUser in user %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h3 class="card-text">{{ currentUser.username }}</h3>
                                <h5>
                                    {% for role in currentUser.roles %}
                                        <span
                                            class="badge bg-primary">{{ role }}</span>
                                    {% endfor %}
                                </h5>
                                <p>erstellt: {{ currentUser.created | date('d.m.Y') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
