{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}
                    <a href="{{ path('app_user_register') }}" class="btn btn-primary btn-lg btn-icon rounded-circle {% if not is_granted('ROLE_CREATE_USER') %}disabled{% endif %}">
                        <i class="bi bi-plus"></i>
                    </a>
                </h1>
            </div>
            {% if user is empty %}
                {% include 'partials/no-data.html.twig' %}
            {% endif %}
        </div>
    </section>
    <div class="album py-5">
        <div class="container table-responsive">
            {% if user is not empty %}
                <table id="user-table" class="table table-striped datatable" style="width:100%">
                    <thead>
                    <tr>
                        {% if is_granted('ROLE_EDIT_USER') %}
                            <th>Aktionen</th>
                        {% endif %}
                        <th>Name</th>
                        <th>EMail</th>
                        <th>Rollen</th>
                        <th>letzter Login</th>
                        <th>erstellt</th>
                        <th>aktualisiert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currentUser in user %}
                        <tr>
                            {% if is_granted('ROLE_EDIT_USER') %}
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="{{ path('app_user_edit', {'id': currentUser.id}) }}" type="button"
                                           class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        <a href="{{ path('app_user_remove', {'id': currentUser.id}) }}" type="button"
                                           class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                            {% endif %}
                            <td>{{ currentUser.name }}</td>
                            <td>{{ currentUser.email }}</td>
                            <td>
                                {% for role in currentUser.roles %}
                                    <span
                                        class="badge bg-primary">{{ roleLabel[role] is defined ? roleLabel[role] : role }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ currentUser.lastLogin ? currentUser.lastLogin | date('d.m.Y H:i') : '-' }}</td>
                            <td>{{ currentUser.created | date('d.m.Y H:i') }}</td>
                            <td>{{ currentUser.updated | date('d.m.Y H:i') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
