{% extends 'base-admin.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">{{ title }}
                    <a href="{{ path('app_user_register') }}" class="btn btn-primary btn-lg btn-icon rounded-circle {% if not is_granted('ROLE_CREATE_USER') %}disabled{% endif %}">
                        <i class="bi bi-plus"></i>
                    </a>
                </h1>
            </div>
            {% if user is empty %}
                {% include 'partials/no-data.html.twig' %}
            {% endif %}
        </div>
    </section>
    <div class="album py-5">
        <div class="container table-responsive">
            {% if user is not empty %}
                <table id="user-table" class="table table-striped datatable" style="width:100%">
                    <thead>
                    <tr>
                        <th>Aktionen</th>
                        <th>Name</th>
                        <th>EMail</th>
                        <th>Rollen</th>
                        <th>letzter Login</th>
                        <th>erstellt</th>
                        <th>aktualisiert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currentUser in user %}
                        <tr>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{{ path('app_user_edit', {'id': currentUser.id}) }}" type="button"
                                       class="btn btn-sm btn-warning {% if not is_granted('ROLE_EDIT_USER') or currentUser.isSuperAdmin %}disabled{% endif %}"><i class="bi bi-pencil-square"></i></a>
                                    {% if not currentUser.isSuperAdmin %}
                                        {% include 'partials/delete-button.html.twig' with {'path': path('app_user_remove', {'id': currentUser.id}) } %}
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ currentUser.name }}</td>
                            <td>{{ currentUser.email }}</td>
                            <td>
                                {% for role in currentUser.roles %}
                                    <span
                                        class="badge bg-primary">{{ role | roleLabel }}</span>
                                {% endfor %}
                            </td>
                            <td data-order="{{ currentUser.lastLogin ? currentUser.lastLogin | date('U') : 0 }}">{{ currentUser.lastLogin ? currentUser.lastLogin | date('d.m.Y H:i') : '-' }}</td>
                            <td data-order="{{ currentUser.created ? currentUser.created | date('U') : 0 }}">{{ currentUser.created ? currentUser.created | date('d.m.Y H:i') : '-' }}</td>
                            <td data-order="{{ currentUser.updated ? currentUser.updated | date('U') : 0 }}">{{ currentUser.updated ? currentUser.updated | date('d.m.Y H:i') : '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
